area1:
lower_x=13
lower_y=20
upper_x=16
upper_y=24
trigger=roll1
trigger=roll2

area2:
lower_x=40
lower_y=16
upper_x=40
upper_y=21
trigger=roll3
trigger=roll4

area3:
lower_x=41
lower_y=15
upper_x=41
upper_y=22
trigger=roll5
trigger=roll6

area4:
lower_x=42
lower_y=14
upper_x=42
upper_y=23
trigger=roll7
trigger=roll8

area5:
lower_x=43
lower_y=13
upper_x=43
upper_y=24
trigger=roll9
trigger=roll10

