none:

Help Helper:

Groyper:

Finland flag:

GÄRBS:
collectable=1
health=10

honk pill:
collectable=1
morph=2
morph_time=20000
health=100

sunflower:
Grafschafter Goldsaft:
collectable=1
health=20

Gondola:
collectable=0
blood1:
blood2:
blood3:

Brass key:
collectable=1
key=1

muscaria0:
muscaria1:

