0:
sprite=dynamic
type=dynamic

1:
sprite=apu
type=player

2:
sprite=npc
type=npc

3:
sprite=spurdo
type=spurdo

4:
sprite=lever1
type=lever

5:
sprite=door
type=door

6:
sprite=pressure_plate
type=pressureplate

7:
sprite=fireball
type=fireball

8:
sprite=sentry_gun
type=sentrygun

9:
sprite=rolling_stone
type=rollingstone

10:
sprite=vampire
type=vampire

11:
sprite=gondola
type=gondola

12:
sprite=spider
type=spider

13:
sprite=spider2
type=spider
