pressureplate1:
x=52
y=16
type=6
state=1
health=0
max_health=0
flying=no
obstacle=no
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

pressureplate2:
x=54
y=22
type=6
state=1
health=0
max_health=0
flying=no
obstacle=no
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

pressureplate3:
x=56
y=16
type=6
state=1
health=0
max_health=0
flying=no
obstacle=no
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

pressureplate4:
x=58
y=22
type=6
state=1
health=0
max_health=0
flying=no
obstacle=no
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

pressureplate5:
x=60
y=16
type=6
state=1
health=0
max_health=0
flying=no
obstacle=no
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

door1:
x=17
y=22
type=5
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=1
damage=0
speed=0
attack_speed=0
key=0
open_type=4

door2:
x=70
y=11
type=5
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=1
damage=0
speed=0
attack_speed=0
key=1
open_type=3

door3:
x=78
y=14
type=5
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=1
damage=0
speed=0
attack_speed=0
key=0
open_type=2

gondola1:
x=80
y=25
type=11
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=0
speed=0
attack_speed=0
music=0

lever1:
x=19
y=20
type=4
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

lever2:
x=77
y=23
type=4
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=0
speed=0
attack_speed=0

npc1:
x=18
y=18
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc10:
x=76
y=11
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc11:
x=60
y=6
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc12:
x=45
y=9
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc2:
x=18
y=29
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc3:
x=63
y=37
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc4:
x=10
y=32
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc5:
x=12
y=32
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc6:
x=31
y=22
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc7:
x=35
y=24
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc8:
x=45
y=18
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

npc9:
x=66
y=27
type=2
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=30
speed=500
attack_speed=500

roll1:
x=14
y=13
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll10:
x=44
y=25
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll11:
x=52
y=22
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll12:
x=54
y=16
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll13:
x=56
y=22
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll14:
x=58
y=16
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll15:
x=60
y=22
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll16:
x=109
y=21
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=3
damage=100
speed=500
attack_speed=0

roll17:
x=109
y=23
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=3
damage=100
speed=500
attack_speed=0

roll18:
x=26
y=31
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=1
damage=100
speed=500
attack_speed=0

roll2:
x=15
y=13
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll3:
x=41
y=15
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll4:
x=41
y=22
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll5:
x=42
y=14
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll6:
x=42
y=23
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll7:
x=43
y=13
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

roll8:
x=43
y=24
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=0
damage=100
speed=500
attack_speed=0

roll9:
x=44
y=12
type=9
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=2
damage=100
speed=500
attack_speed=0

sentrygun1:
x=67
y=19
type=8
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=3
damage=50
speed=0
attack_speed=1000

spurdo1:
x=36
y=49
type=3
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=0
speed=500
attack_speed=0

vampire1:
x=74
y=33
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire2:
x=74
y=37
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire3:
x=57
y=33
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire4:
x=35
y=30
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire5:
x=82
y=5
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire6:
x=78
y=3
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire6:
x=91
y=16
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

vampire7:
x=91
y=6
type=10
state=1
health=100
max_health=100
flying=yes
obstacle=yes
destructable=yes
direction=0
damage=50
speed=700
attack_speed=1000

