roll1:
x=0
y=0
target_name=roll1
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll2:
x=0
y=0
target_name=roll2
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll3:
x=0
y=0
target_name=roll3
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll4:
x=0
y=0
target_name=roll4
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll5:
x=0
y=0
target_name=roll5
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll6:
x=0
y=0
target_name=roll6
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll7:
x=0
y=0
target_name=roll7
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll8:
x=0
y=0
target_name=roll8
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll9:
x=0
y=0
target_name=roll9
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll10:
x=0
y=0
target_name=roll10
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll11:
x=51
y=19
target_name=roll11
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll12:
x=53
y=19
target_name=roll12
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll13:
x=55
y=19
target_name=roll13
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll14:
x=57
y=19
target_name=roll14
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll15:
x=59
y=19
target_name=roll15
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll16:
x=101
y=21
target_name=roll16
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll17:
x=101
y=23
target_name=roll17
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

roll18:
x=29
y=31
target_name=roll18
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=0
new_map=
new_x=21971
new_y=371410096

pressureplate3_sentrygun1:
x=56
y=16
target_name=sentrygun1
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=no
state_1=3
state_2=0
new_map=
new_x=21971
new_y=371410096

lever1_door1:
x=19
y=20
target_name=door1
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=yes
state_1=2
state_2=1
new_map=
new_x=21971
new_y=371410096

lever2_door3:
x=77
y=23
target_name=door3
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=no
switch=yes
state_1=2
state_2=1
new_map=
new_x=21971
new_y=371410096

map:
x=21
y=16
switch_map=yes
change_state=no
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=0
state_2=0
new_map=finlandia
new_x=30
new_y=30

