map_apuhouse:
x=119
y=107
switch_map=yes
change_state=no
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=0
state_2=0
new_map=apuhouse
new_x=3
new_y=5

map_cave1:
x=125
y=98
switch_map=yes
change_state=no
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=0
state_2=0
new_map=cave1
new_x=9
new_y=62

map_cave2:
x=125
y=63
switch_map=yes
change_state=no
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=0
state_2=0
new_map=cave2
new_x=29
new_y=62

roll1:
x=136
y=99
target_name=rolling_stone1
switch_map=no
change_state=yes
teleport=no
on_contact=yes
on_use=no
switch=no
state_1=2
state_2=2
new_map=
new_x=0
new_y=0

