spider1:
x=39
y=29
type=12
state=1
health=100
max_health=100
flying=no
obstacle=yes
destructable=yes
direction=0
damage=40
speed=350
attack_speed=500

door1:
x=38
y=37
type=5
state=1
health=0
max_health=0
flying=no
obstacle=yes
destructable=no
direction=1
damage=0
speed=0
attack_speed=0
key=0
open_type=2

