door1:
x=32
y=24
target_name=door1
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=yes
switch=yes
state_1=2
state_2=1
new_map=
new_x=0
new_y=0

roll2:
x=38
y=19
target_name=rolling_stone2
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=yes
switch=no
state_1=2
state_2=0
new_map=
new_x=0
new_y=0

roll1:
x=38
y=18
target_name=rolling_stone1
switch_map=no
change_state=yes
teleport=no
on_contact=no
on_use=yes
switch=no
state_1=2
state_2=0
new_map=
new_x=0
new_y=0

